$font-stax: 'Indie Flower', cursive;
$primary-color: #333;
$font-appro: 'Oswald', sans-serif;

body{
	margin: 0;	
	h1{
		display: flex;
		justify-content: center;
		font: 100% $font-stax;
		color: #fff;
		margin: 0;
		font-size: 30px;
		padding-top: 20px;
	}
	#hello{
		color: #fff;
		}

	h2{
		display: flex;
		flex-direction: row;
		font: 100% $font-stax;
		color: #fff;
		margin: 0;
		font-size: 30px;
		padding-top: 20px;
	}
		#overview{
		width: 300px;
		color: #fff;
		}
	.lead-banner{
		background: url("images/blackwhite.jpeg") no-repeat;
		max-width: 100%;
		height: 100vh;
		background-size: cover;
		background-attachment: fixed;
	}
	.background2{
		background-image: url('images/goldbrown.png') no-repeat;
		max-width: 100%;
		height: 100vh;
		background-size: cover;
		background-attachment: fixed;
	}
	.circle-pix img{
		display: inline-block;
		float: right;
		margin-top: -270px;
		height: 253px;
		width: 174px;
		margin-right: 200px;
		border-top-left-radius: 10% 10%;
		border-top-right-radius: 10% 10%;
		border-bottom-left-radius: 10% 10%;
		border-bottom-right-radius: 10% 10%;
	}
	.wrapper{
 		margin-right: auto;
 		margin-left:  auto;
  		max-width: 800px;
  		padding-right: 10px;
  		padding-left: 10px;
	}
}
	nav{
		ul{
		display: flex;
		justify-content: space-around;
		list-style:none;
		font-family: $font-appro;
		background-color:#694848;
		padding: 15px;
		margin: 0;
		}
	a{
		text-decoration: none;
	}
}

