    $font-stax: 'Lora',
    serif;
    $primary-color: 431D25;
    $font-appro: 'Oswald',
    sans-serif;
    $font-monts: 'Montserrat',
    sans-serif;
    $font-ale: 'Alegreya',
    serif;
    $font-man: 'Julius Sans One', sans-serif;

    body {
        margin: 0;
        h1 {
            display: flex;
            justify-content: center;
            font: 100% $font-man;
            color: $primary-color;
            margin: 0;
            font-size: 30px;
            padding-top: 68px;
            color: #fff;
        }
        p {
            font: 100% $font-stax;
            justify-content: left;
            max-width: 100%;
        }
        #overview p{
            width: 300px;
            color: $primary-color;
            
        }
        .lead-banner {
            background: url("images/M.jpeg") no-repeat;
            max-width: 100%;
            height: 100vh;
            background-size: cover;
        }
        .wrapper {
            margin-right: auto;
            margin-left: auto;
            max-width: 800px;
            padding-right: 10px;
            padding-left: 10px;
        }
        .navbar {
            overflow: hidden;
            background-color: #333;
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 50;
        }
        a {
            float: left;
            display: block;
            color: #fff;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;
        }
    }
    .nav-title {
        text-decoration: none;
        color: #fff;
        display: block;
        transition: .3s background-color;
    }

    .nav .nav-title.active {
        background-color: #fff;
        font: $font-stax;
        color: #000;
    }

    ul {
        margin: 0;
        list-style: none;
        background-color: #000;
        text-align: center;
        padding: 0;
        box-sizing: border-box;
        max-width: 101.2%;
    }

    li {
        display: inline-block;
        box-sizing: content-box;
        width: 32.3333%;
        border-bottom: none;
        line-height: 50px;
        font-size: 1.4em;
        margin-top: -2px;
    }

    .nav li:hover {
        background-color: #e1e1e1;
        transition: .3s background-color;
        width: 33.3333%;
        margin: 0;
    }

    .section3 {
        .skillsContainer,
        .educationContainer {
            background-color: #fff;
            background-size: cover;
            width: 100vw;
            height: 100vh;
            max-width: 100%;
            display: flex;
            flex-direction: column;
            position: relative;
        }
        .aboutContainer {
            background-color: #fff;
            background-size: cover;
            width: 100vw;
            height: 100vh;
            max-width: 100%;
            display: flex;
            flex-direction: column;
            position: relative;
            display: none;
        }
        .educationContainer {
            background-color: #fff;
            background-size: cover;
            width: 100vw;
            height: 100vh;
            max-width: 100%;
            display: flex;
            flex-direction: column;
            position: relative;
            display: none;
        }
        .skillsContainer p,
        .aboutContainer p,
        .educationContainer p {
            color: #001f3f;
            text-align: left;
            font-size: 52px;
            font-family: $font-monts;
            margin-left: 200px;
            margin-right: 200px;
            text-align: center;
        }
        .skillsContainer h3,
        h4,
        h5 {
            font: $font-ale;
            color: #252525;
            font-size: 60px;
        }
        .section4{
            display: flex;
            justify-content: space-between;
            background-color: #404040;
            width: 100%;
            height: 100vh;
            background-size: cover;
            display: inline-block;
            vertical-align: top;
        }
        .section4 h4{
            text-align: center;
            color: #e1e1e1;
            font-size: 30px;
        }
        .likes h6, p{
            margin-left: 5px;
            color: #C8C8C8;
            font: 100% $font-monts;
        }
        .hobbies h6, p{
            margin-left: 5px;
            color: #c8c8c8;
            font: 100% $font-monts;
        }
        .likes{
            background-color: #404040;
            margin-top: 10%;
            width: 50%;
            height: 50%;
            border: 2px solid #fff;
        }
        .hobbies{
            vertical-align: top;
            background-color: #404040;
            margin-top: 10%;
            width: 50%;
            height: 50%;
            border: 2px solid #fff;
        }
         .wrapper {
            margin-right: auto;
            margin-left: auto;
            max-width: 800px;
            padding-right: 10px;
            padding-left: 10px;
        }
        .footer p{
            font-size: 12px;
            font-family: $font-stax;
            padding: 20px 20px;
            text-align: center;
            color: #ab2c41;
        }
    }