// variables

  $font-stax: 'Lora',
    serif;
    $primary-color: 431D25;
    $font-appro: 'Oswald',
    sans-serif;
    $font-monts: 'Montserrat',
    sans-serif;
    $font-ale: 'Alegreya',
    serif;
    $font-man: 'Julius Sans One',
    sans-serif;